.container.header
  .col-sm-6
    %h1 
      = link_to "Meercat", root_path 
  .col-sm-6
    .right
      - if !signed_in?
        = link_to "Sign in/up", sign_in_path, class: "btn btn-primary btn-lg sign-in-btn js-sign-in-btn", role: "button"

            

    / .col-sm-12
    /   .right
    /     .btn-group
    /       - if !signed_in?
    /         = link_to "Sign in/up", sign_in_path, class: "btn btn-primary btn-lg sign-in-btn js-sign-in-btn", role: "button"

:javascript
  $(function () { $("[data-toggle='tooltip']").tooltip(); })
